@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&family=Poppins:wght@600&family=Roboto:wght@400;700&display=swap");

body {
    /* background-image: url("../images/4рендер\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 50%; */
    /* background-position: 1100px 150px; */
    background-color: #fff;
}

#top-navbar {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: red;
}

:root {
    --default-color: #4b605c;
    --link-color: #2d4c8a;
    --bg-gray: #f2f5f4;
    --date-color: #0ea2bd;
}

* {
    list-style: none;
    text-decoration: none !important;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--default-color) !important;
}

a {
    color: inherit;
}

p {
    font-family: "Open-sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

.bg-gray {
    background-color: var(--bg-gray);
}

/* header uchun stillar */
.header {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 50;
}

.top {
    background-color: var(--link-color);
    color: #fff;
    font-family: "Open sans", sans-serif !important;
    font-size: 14px;
}

.top .dropdown button {
    font-family: inherit;
    color: #fff !important;
    border: none !important;
}

#navbar {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: -150px;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

#top-navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

.topbar li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.topbar li img {
    height: 100%;
    position: relative;
    /* bottom: 2px; */
}

.top .show {
    border: none !important;
}

.header .navbar-brand h2 {
    font-family: "Poppins", sans-serif;
    white-space: initial !important;
    font-weight: 700 !important;
    display: inline-block;
    width: 250px;
    font-size: 16px;
}

.header .navbar-collapse a {
    color: var(--link-color) !important;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.header .navbar-nav>li {
    position: relative;
}

.header svg {
    width: 10px;
}

.header path {
    fill: var(--link-color);
}

.nav-item__login {
    margin-left: 400px;
}

.header .nav-item:hover>.drop-down {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    transform: translateY(0);
}

.header .drop-down {
    transform: translateY(-15px);
    opacity: 0;
    z-index: 500;
    pointer-events: none;
    background-color: #fff;
    position: absolute;
    white-space: nowrap;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
}

.header .drop-down li {
    padding: 7px 0;
    transition: all 0.3s ease;
    position: relative;
}

.header .drop-down li:hover>a {
    color: #0ea2bd !important;
}

.header .drop-down>li:hover .deep-drop-down {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.deep-drop-down {
    transform: translateX(-15px);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
}

/* main section  */
.main-section-subtitle {
    text-align: center;
    padding: 100px;
}

.main-section-subtitle__title {
    letter-spacing: 0.5px;
    font-size: 30px !important;
    font-weight: 500;
}

.main-section-subtitle__description {
    margin-top: 30px;
    color: #8492a6 !important;
}

.description-span {
    color: #2f55d4 !important;
}

.main-section__cards {
    margin-bottom: 100px;
}

.main-section__card {
    background-color: #f8f9fc;
    width: 30%;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
    margin-right: 3%;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.main-section__card:hover {
    background-color: #7694ef;
}

.main-section__card:hover .card-icon,
.main-section__card:hover .card-title,
.main-section__card:hover .card-description  {
    color: white;
}

.card-icon {
    font-weight: 300;
    font-size: 50px;
    color: #0ea2bd;
}

.card-title {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
    color: #748dd7;
}

.card-description {
    color: #c2bfbf;
}

/* statistics  */
.statistics {
    padding: 100px 0;
    background-color: #f8f9fc !important;
}
.statistics__title {
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.statistics-card {
    text-align: center;
    width: 23%;
    padding: 20px 0;
    box-sizing: border-box;
    margin-right: 1.5%;
    display: inline-block;
}

.statistics-card__number {
    font-size: 30px;
    font-weight: 300;
}

.statistics-card__description {
    font-size: 14px;
    color: #8492a6;
}

.statistics-card__image {
    height: 65px;
    width: 65px;
}

/* profile styles  */
.section-left {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.section-left__title {
    color: #392C7D;
    font-weight: 600;
    margin: 5px 0px 20px;
}

.section-left__item {
    padding: 5px;
    color: #303030;
    font-weight: 400;
}

.section-left__item.active {
    border-left: 3px solid #392C7D;
}

.section-left__item:hover {
    border-left: 3px solid #392C7D;
}

.section-left__item i {
    color: rgb(22, 121, 167);
    /* font-weight: 400; */
    font-size: 20px;
    margin-right: 10px;
}

/* sevices list section */
.services-list__cards {
    padding: 30px 20px;
}

.general-info__title {
    margin-top: 10px;
    color: #392C7D;
}

.services-list__card {
    border: 1px solid #ddd;
    padding: 20px 10px;
    width: 47%;
    border-radius: 5px;
    margin-right: 1.9%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.services-list__card:hover {
    cursor: pointer;
    border: 1px solid #4471f7;
    background-color: #ededfa;
}

.services-list__card i {
    font-size: 50px;
    font-weight: 300;
    color: rgb(2, 2, 252);
    margin: 10px auto;
}

.services-list__title {
    font-weight: 300;
    color: #3259cb;
    font-size: 27px;
}

.services-list__link {
    color: #7694ef;
}


/* appeal to leaders styles */
.appeal-leaders {
    padding: 30px 10px;
    width: 90%;
}
.appeal-leaders__card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
.appeal-leaders__card > img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-right: 16px;
}
  
.appeal-leaders__details {
    flex: 1;
}
.appeal-leaders__full-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
  
.appeal-leaders__position {
    margin: 8px 0;
    font-size: 16px;
}
  

/* Footer section styles */

.footer {
    position: relative;
    font-family: barlow, sans-serif;
    background-color: #343e55;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-position: center;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer::before {
    margin-top: -40px;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
}

.footer>div {
    position: relative;
}

.footer-card {
    margin-bottom: 36px;
}

.footer-title {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 22px;
    position: relative;
    padding-bottom: 20px;
}

.footer-card .footer-title::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 3px;
    background: #fff;
    bottom: 0;
    opacity: 1;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-icons {
    position: absolute;
    content: "";
    left: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    color: #0040ff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 2px;
    padding: 10px;
}

.footer-icons svg {
    width: 33px;
    height: 33px;
}

.text-copyright {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 18px;
    text-align: justify;
    color: #eee;
}

.yandex-map {
    min-height: 200px;
}

.footer-line {
    border-top: 1px solid #0040ff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pull-left {
    margin-bottom: 4px;
}

.footer-links>li>a {
    display: block;
    margin: 8px 0;
    height: 36px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 44px;
    text-decoration: none;
}

.pull-left {
    color: #0040ff;
}

.visitor-counter {
    float: left;
    margin: 0 4px 4px 0;
}

.footer-links>li {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    position: relative;
    padding-left: 48px;
    transition: all 0.5s ease-in-out;
}

.footer .counters img {
    width: 80px !important;
    height: 31px !important;
    object-fit: cover;
}
