{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="{% url 'home' %}">
        <div class="brand">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="brand__image">
            <p class="brand__info">{% trans "Sharof Rashidov nomidagi Samarqand davlat universiteti Urgut filiali" %}</p>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_leader %}
          <li class="nav-item">
            <a href="{% url 'appeal_list' %}">{% trans "Murojaatlar ro'yhati" %}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{% trans "Bosh sahifa" %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans "Interaktiv xizmatlar" %}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'appeal_to_leader' %}">{% trans "Rahbarlarga Murojaat" %}</a></li>
              <li><a class="dropdown-item" href="{% url 'appeal_to_leader' %}">{% trans "Elektron kutubxona" %}</a></li>
              <li><a class="dropdown-item" href="https://student.samduuf.uz/dashboard/diploma" target="_blank">{% trans "Dimlomni tekshirish (talabalar)" %}</a></li>
              <li><a class="dropdown-item" href="https://student.samduuf.uz/dashboard/contract" target="_blank">{% trans "Shartnoma olish" %}</a></li>
              <li><a class="dropdown-item" href="https://my.mehnat.uz/login" target="_blank">{% trans "Ma'lumotnoma olish" %}</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{% trans "Biz haqimizda" %}</a>
          </li>
          {% endif %}
          <!-- <li class="nav-item nav-item__lang">

                
          </li> -->
        </ul>
        <form action="{% url 'set_language' %}" method="post" class="me-2">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit()" class="form-select" aria-label="Default select example">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </form>
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.first_name }} {{ request.user.last_name }}
          </button>
          <ul class="dropdown-menu">
            {% if request.user.is_leader %}
            <li><a class="dropdown-item" href="{% url 'profile_leader' %}">{% trans "Profil" %}</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'profile_data' %}">{% trans "Profil" %}</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Tizimdan chiqish" %}</a></li>
            
          </ul>
        </div>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-success me-5"><i class="fa-regular fa-user me-2"></i>{% trans "Tizimga kirish" %}</a>
        {% endif %}
      </div>
    </div>
  </nav>