{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Profile {% endblock %}
{% block content %}
<main class="container">
    <div class="row">
         {% include 'includes/leader_left.html' %}
         <div class="col-lg-9 mt-5 mb-5" style="border: 1px solid rgb(230, 224, 224); border-radius: 5px;">
             <div class="general-info" style="text-align: center;">
                <div class="alert alert-success mt-3" role="alert">
                    <h1 class="general-info__title">{% trans "Parol muvaffaqqiyatli o'zgartirildi." %}</h1>
                </div>
                <div class="mt-5">
                <a href="{% url 'login' %}"><i class="fa-solid fa-right-from-bracket me-2"></i>{% trans "Tizimga kirish" %}</a>
                </div>
             </div>             
         </div>
    </div>
 </main>
 {% endblock %}