{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %} Sign In {% endblock %}

{% block content %}

<div class="auth-page-wrapper pt-5" style="padding: 50px 0;">
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <a href="{% url 'home' %}">
                                    <h5 class="text-primary">Qaytganingizdan xursandmiz !</h5>
                                </a>
                                
                                <p class="text-muted">Interaktiv xizmatlarga o'tish uchun tizimga kiring.</p>
                            </div>
                            <div class="p-2 mt-4">

                                
                                {% if messages %}
                                {% for mess in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ mess }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <form action="" method="post">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Talaba ID</label>
                                        <!-- {% render_field form.username class+="form-control" placeholder="Talaba ID" id="username" %} -->
                                        <!-- <input type="text" class="form-control" id="username" placeholder="Enter username"> -->
                                        {% render_field form.username class+="form-control" type="text" placeholder="Talaba ID" %}
                                    </div>

                                    <div class="mb-3">
                                        <div class="float-end">
                                            <a href="auth-pass-reset-basic.html" class="text-muted">Parolni unutdingizmi?</a>
                                        </div>
                                        <label class="form-label" for="password-input">Parol</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <!-- <input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="password-input"> -->
                                            
                                            {% render_field form.password class+="form-control" type="password" placeholder="Parol" aria-label="Password" aria-describedby="password-addon" %}
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="auth-remember-check">
                                        <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Sign In</button>
                                    </div>

                                    
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Hisobingiz yo'qmi ? <a href="{% url 'student_register' %}"
                                class="fw-semibold text-primary text-decoration-underline"> Ro'yhatdan o'tish </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

</div>
{% endblock %}