{% extends 'base.html' %}
{% load i18n %}

{% load static %}
{% block title %} Homepage {% endblock %}
{% block content %}
<main class="container">
  <div class="main-section-subtitle">
    <h3 class="main-section-subtitle__title">
      {% trans "Interaktiv xizmatlar" %}
    </h3>
    <p class="main-section-subtitle__description">{% trans "Quyidagi" %} <span class="description-span">{% trans "interaktiv xizmatlar" %}</span>
      {% trans "bilan siz bizning xizmatlarimizdan masofadan turib" %} <br>
      {% trans "foydalanishingiz mumkin." %}</p>
  </div>
  <div class="main-section__cards">
    <a href="{% url 'appeal_to_leader' %}">
    <div class="main-section__card">
      <h1 class="card-icon"><i class="fa-regular fa-user"></i></h1>
      <h3 class="card-title">{% trans "Rahbarlarga Murojaat" %}</h3>
      <p class="card-description">{% trans "Taklif va shikoyatlaringizni yuboring" %}.</p>
    </div>
  </a>
  <a href="https://kutubxona.samduuf.uz/" target="_blank">
    <div class="main-section__card">
      <h1 class="card-icon"><i class="fa-solid fa-book-open-reader"></i></h1>
      <h3 class="card-title">{% trans "Elektron kutubxona" %}</h3>
      <p class="card-description">{% trans "Onlayn kutubxonadan foydalanish" %}.</p>
    </div>
  </a>
  <a href="https://my.mehnat.uz/login" target="_blank">
    <div class="main-section__card">
      <h1 class="card-icon"><i class="fa-solid fa-circle-info"></i></h1>
      <h3 class="card-title">{% trans "Ma'lumotnoma olish" %}</h3>
      <p class="card-description">{% trans "Xodimlar uchun ish joyi ma'lumotini oling" %}.</p>
    </div>
  </a>
  <a href="https://student.samduuf.uz/dashboard/diploma" target="_blank">
    <div class="main-section__card">
      <h1 class="card-icon"><i class="fa-solid fa-check-double"></i></h1>
      <h3 class="card-title">{% trans "Diplomni tekshirish (Talabalar)" %}</h3>
      <p class="card-description">{% trans "Talabalar uchun diplom tekshirish tizimi" %}.</p>
    </div>
  </a>
  <a href="https://student.samduuf.uz/dashboard/contract" target="_blank">
    <div class="main-section__card">
      <h1 class="card-icon"><i class="fa-regular fa-file-lines"></i></h1>
      <h3 class="card-title">{% trans "Shartnoma olish (Talabalar)" %}</h3>
      <p class="card-description">{% trans "Talabalar uchun shartnoma olish tizimi" %}.</p>
    </div>
  </a>
    <a href="#">
      <div class="main-section__card">
        <h1 class="card-icon"><i class="fa-regular fa-file-lines"></i></h1>
        <h3 class="card-title">{% trans "Yotoqxonaga ariza berish" %}</h3>
        <p class="card-description">{% trans "Yotoqxonaga online ariza berish" %}.</p>
      </div>
    </a>
    
  </div>

  <div class="statistics">
    <h2 class="statistics__title">{% trans "Interaktiv xizmatlar" %} <span style="color: #2f55d4;">{% trans "Statistikasi" %}</span></h2>
    <div class="statistics__cards">
      <div class="statistics-card">
        <img src="{% static 'images/Asset190.svg' %}" alt="statistics image" class="statistics-card__image">
        <h4 class="statistics-card__number mt-4">{{ appeal_count }}</h4>
        <p class="statistics-card__description">{% trans "Kelib tushgan murojaatlar" %}</p>
      </div>
      <div class="statistics-card">
        <img src="{% static 'images/Asset189.svg' %}" alt="statistics image" class="statistics-card__image">
        <h4 class="statistics-card__number mt-4">{{ answer_count }}</h4>
        <p class="statistics-card__description">{% trans "Javob berilgan murojaatlar" %}</p>
      </div>
      <div class="statistics-card">
        <img src="{% static 'images/Asset186.svg' %}" alt="statistics image" class="statistics-card__image">
        <h4 class="statistics-card__number mt-4">{{ appeal_in_process }}</h4>
        <p class="statistics-card__description">{% trans "Jarayondagi murojaatlar" %}</p>
      </div>
      <div class="statistics-card">
        <img src="{% static 'images/Asset187.svg' %}" alt="statistics image" class="statistics-card__image">
        <h4 class="statistics-card__number mt-4">77%</h4>
        <p class="statistics-card__description">{% trans "Boshqa" %}</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}