{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<main class="container" style="padding: 50px 20px;">
    <h1 style="font-size: 27px; font-weight: 500; color: blue;">Murojaatlar ro'yhati</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">F.I.SH</th>
            <th scope="col">Fakultet</th>
            <th scope="col">Yo'nalish</th>
            <th scope="col">Guruh</th>
            <th scope="col">Elektron pochta</th>
            <th scope="col">Telefon</th>
            <th scope="col">Harakat</th>
          </tr>
        </thead>
        <tbody>
            {% for appeal in appeals %}
          <tr>
            <td>{{ appeal.student.full_name }}</td>
            <td>{{ appeal.student.faculty }}</td>
            <td>{{ appeal.student.specialty }}</td>
            <td>{{ appeal.student.group }}</td>
            <td>{{ appeal.student.email }}</td>
            <td>{{ appeal.student.phone }}</td>
            <td>
                <a href="{% url 'appeal_delete' appeal.id %}"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                <a href="{% url 'appeal_detail' appeal.id %}"><i class="fa-regular fa-message ms-2" style="color: rgb(70, 119, 241)"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}