{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<main class="container">
  <h1 class="general-info__title mt-5">{% trans "Javob yozish" %}</h1>
    <div class="row mt-3 mb-5">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "F.I.SH" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.full_name }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Yo'nalishi" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.specialty }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Elektron pochta" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.email }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Murojaat turi" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.type_application }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">{% trans "Murojaat matni" %}</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly>{{ appeal_student.message }}</textarea>
      </div>
        
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Fakulteti" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.faculty }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Guruhi" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.group }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Telefon raqam" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.student.phone }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{% trans "Murojaat mavzusi" %}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{ appeal_student.theme }}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">{% trans "Fayl" %}</label> <br>
            <input type="text" class="form-control" readonly value="{{ appeal_student.file_upload }}"> <br>
            <a href="#" class="btn btn-secondary">{% trans "Faylni yuklash" %}</a>
        </div>
      </div>
    </div> <hr>

  <h1 class="general-info__title mt-5">{% trans "Javob yozish" %}</h1>
  <div class="row">
    <div class="col-lg-8">
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">{% trans "Javob yozish" %}</label>
          <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea> -->
          {% render_field form.message class+="form-control" id="exampleFormControlTextarea1" rows="5" %}
          <br>
          <button type="submit" class="btn btn-success mb-5">{% trans "Yuborish" %}</button>
      </div>
      </form>
    </div>
  </div>
  
    


</main>
{% endblock %}