{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<main class="container">
    <div class="row">
        {% include 'includes/left.html' %}
        <div class="col-lg-9 mt-5 mb-5">
            {% if messages %}
    {% for mess in messages %}
    <div class="alert alert-success" role="alert">
        {{ mess }}
    </div>
    {% endfor %}
    {% endif %}
            <h1 class="general-info__title">{% trans "Rahbariyatga Murojaat" %}</h1>
            <div class="appeal-leaders">
                <div class="row">
                    {% for leader in leaders %}
                    <div class="col-lg-6">
                        <div class="appeal-leaders__card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <img src="{{ leader.image.url }}" alt="Rasm">
                            <div class="appeal-leaders__details">
                                <h2 class="appeal-leaders__full-name">{{ leader.leader.get_full_name }}</h2>
                                <p class="appeal-leaders__position">{{ leader.position }}</p>
                                <p><i class="fa-solid fa-phone-volume"></i>{{ leader.phone }}</p>
                                <a href="{{ leader.detail_link }}">{% trans "Batafsil" %}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="appeal-leaders-form" style="border: 1px solid #d5cccc; padding: 20px; border-radius: 5px;">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="form-label">{% trans "Murojaat turi" %}</label>
                            <!-- <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select> -->
                            {% render_field form.type_application class+="form-select" aria-label="Default select example" %}
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">{% trans "Rahbariyat" %}</label>
                            <!-- <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select> -->
                            {% render_field form.leader class+="form-select" aria-label="Default select example" %}

                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="exampleInputEmail1" class="form-label">Mavzu</label>
                        <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        {% render_field form.theme class+="form-control" %}

                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">{% trans "Fayl yuklash" %}</label>
                        <!-- <input class="form-control" type="file" id="formFile"> -->
                        {% render_field form.file_upload class+="form-control" type="file" id="formFile" %}

                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">{% trans "Xabar matni" %}</label>
                        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea> -->
                        {% render_field form.message class+="form-control" id="exampleFormControlTextarea1" rows="5" %}
                        <div class="form-check mt-3">
                            <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                            {% render_field form.is_checked class='form-check-input' type="checkbox" id="flexCheckDefault" %}
                            <label class="form-check-label" for="flexCheckDefault">
                                {% trans "Qonun talablari doirasida shaxsga doir maʼlumotlarimdan foydalanishga rozilik bildiraman" %}.<a href="https://lex.uz/docs/4396419" style="color: blue;"> https://lex.uz/docs/439641
                                </a>
                            </label>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-success">{% trans "Yuborish" %}</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</main>
{% endblock %}