{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

{% include 'includes/header.html' %}
<div id="layout-wrapper">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">submit</button>
                </form>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        
    </div>
</div>
{% endblock %}