{% extends 'base.html' %}

{% block title %} My Applications {% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        {% include 'includes/left.html' %}
        <div class="col-lg-9 mt-5 mb-5">
            
            <h1 class="general-info__title">Mening murojaatlarim</h1>
            <table class="table table-striped">
                <caption>Mening murojaatlarim</caption>
                <thead>
                    <tr>
                        <th scope="col">Ariza turi</th>
                        <th scope="col">Ariza mavzusi</th>
                        <th scope="col">Kimga</th>
                        <th scope="col">Yuborilgan vaqti</th>
                        <th scope="col">Javobi</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        {% for appeal in appeals %}
                      <tr>
                        <td>{{ appeal.type_application }}</td>
                        <td>{{ appeal.theme }}</td>
                        <td>{{ appeal.leader.get_full_name }}</td>
                        <td>{{ appeal.created_at|date }}</td>
                        
                        <td>
                            <a href="#"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                            <a href="#"><i class="fa-regular fa-message ms-2" style="color: rgb(70, 119, 241)"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}