{% extends 'base.html' %}
{% load i18n %}

{% block title %} My Applications {% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        {% include 'includes/left.html' %}
        <div class="col-lg-9 mt-5 mb-5">
            
            <h1 class="general-info__title">{% trans "Mening murojaatlarim" %}</h1>
            <table class="table table-striped">
                <caption>{% trans "Mening murojaatlarim" %}</caption>
                <thead>
                    <tr>
                        <th scope="col">{% trans "Ariza turi" %}</th>
                        <th scope="col">{% trans "Ariza mavzusi" %}</th>
                        <th scope="col">{% trans "Kimga" %}</th>
                        <th scope="col">{% trans "Yuborilgan vaqti" %}</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        {% for appeal in appeals %}
                      <tr>
                        <td>{{ appeal.get_type_application_display  }}</td>
                        <td>{{ appeal.theme }}</td>
                        <td>{{ appeal.leader.leader.get_full_name }}</td>
                        <td>{{ appeal.created_at|date }}</td>
                        
                      </tr>
                      {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}